[Unit]
Description=World Tree Availability Service

[Service]
ExecStart=/home/{{ ansible_user }}/world-tree/target/release/world-tree --config /home/{{ ansible_user }}/world-tree/bin/world_tree.toml
Restart=always
LimitNOFILE=100000

[Install]
WantedBy=default.target
